<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>
<br>
<br>
<div class="center" style="position: center">
  <input type ="file" style="display: inline-block;" (change)="incomingFile($event)" placeholder="Upload file" accept=".csv">
  <button type ="button" class="btn btn-primary" (click)="upload()" >Upload</button>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="tableData" matSort>
  <ng-container matColumnDef="Camper_Make">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Camper Make</th>
    <td mat-cell *matCellDef="let d"> {{d.Camper_Make}} </td>
  </ng-container>

  <ng-container matColumnDef="Camper_Brand">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Camper Brand</th>
    <td mat-cell *matCellDef="let d"> {{d.Camper_Brand}} </td>
  </ng-container>

  <ng-container matColumnDef="Sleep_Number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sleep Number</th>
    <td mat-cell *matCellDef="let d"> {{d.Sleep_Number}} </td>
  </ng-container>

  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let d"> {{d.Price}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
